PORT=3005

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sale_service
DB_USER=postgres
DB_PASSWORD=password

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=sale-closedeal-group

# Internal service URLs
INVENTORY_SERVICE_URL=http://localhost:3006
MARKETING_SERVICE_URL=http://localhost:3007
PAYMENT_SERVICE_URL=http://localhost:3008
POST_SALES_SERVICE_URL=http://localhost:3009
